@import "tailwindcss";
@source "../views";


* {
  box-sizing: border-box;
}


:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover:  #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
}


html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body{
    background-color: red;
}
body {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--app-container);
}
.dark:root {
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255,255,255,.8);
  --projects-section: #1f2937;
  --link-color: rgba(255,255,255,.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255,255,255,.1);
  --star: #ffd92c;
  --light-font: rgba(255,255,255,.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover:  rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    outline: 2px solid none;
    width: 500px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    outline: 5px solid none;
    margin-top: -170px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.titulo{
    position: absolute;
    margin-top: -700px;
    color: #4A4A4A;
    font-size: 30px;
    font-weight: 0;
    margin-left: -30px;
    
}

input{
    width: 400px;
    height: 40px;
    border: none;
    outline: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 7px;

    padding-left: 10px;
    margin: 8px;
}
input:focus{
   color: #1f1c2e;
}

label{
    outline: 2px solid none;
    width: 400px;
    color:rgba(128, 128, 128, 0.767); 
    font-weight: 100;
    font-family:  'DM Sans', sans-serif;
    
}
p{
    position: absolute;
    margin-top: -260px;
    color: #4A4A4A;
    /* color:rgba(128, 128, 128, 0.767); */
    font-size: 20px;
    font-weight: 0;
    margin-left: -200px;    
    outline: 2px solid none;
}


.app-sidebar-link.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
}
.app-sidebar-link.active:hover {
    background-color: #1f1c2edc;
}

.app-sidebar-link {
    color: var(--main-color);
    color: var(--link-color);
    margin: 16px 0;
    transition: 0.2s;
    border-radius: 6%;
    flex-shrink: 0;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -315px;
    margin-top: 250px;
}
 a {
    position: absolute;
    cursor: pointer;
    /* outline: 2px solid rgba(255, 0, 0, 0.596);
     */
}
